{% extends 'base.html.twig' %}

{% block title %}Edit Usuario{% endblock %}

{% block body %}
    <h1>Editar Datos</h1>

    {{ include('usuario/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a class="btn btn-primary" href="{{ path('usuario_index') }}">
        <i class="bi bi-arrow-left-square"></i>
        Volver
    </a>

    {{ include('usuario/_delete_form.html.twig') }}
{% endblock %}
