{% extends 'base.html.twig' %}

{% block title %}
    Nuevo User|{{ parent() }}
{% endblock %}

{% block body %}
    <h1>Registrar Nuevo Usuario</h1>

    {{ include('usuario/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('usuario_index') }}">
        <i class="bi bi-arrow-left-square"></i>
        Volver
    </a>
{% endblock %}
