{% extends'base.html.twig' %}

{% block title %}
    Nueva Conciliación|{{ parent() }}
{% endblock %}

{% block body %}
    <div class="container justify-content-center">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">NUEVO CASO CONCILIATORIO</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widgett="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                {{ form_start(formulario) }}
                    <button class="btn btn-success">
                        <i class="bi bi-bookmark-check"></i> Guardar
                    </button>
                    <a class="btn btn-primary" href="{{ path('conciliacion_index') }}">
                        <i class="bi bi-arrow-left-square"></i> Volver
                    </a>
                {{ form_end(formulario) }}
            </div>
        </div>
    </div>
{% endblock %}